.explorecontainer {
    background-color: rgba(246, 217, 217, 0.614);
  }
  
  .usercontainer {
    margin: 10px;
    padding: 10px;
  }
  
  
  .beach-card {
    box-sizing: border-box;
    width: 250px; /* Adjust as needed */
    margin: 10px; /* Adjust as needed */
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
  }


  
  
  .beach-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .beach-card img:hover{
    transform: scale(1.1);
    opacity:0.5;
  }
  

  .locate{
    background-color:#3498db ;
  }
  .locate:hover{
    background-color:#ef9b0f;
  }
  #wrapper {
    background: black;
    left: 0;
    top: 0;
    position: absolute;
    width: 200%;
    height: 200%;
    opacity: 0.9;
    display: none;
    z-index: 2;
  }
  
  .modal {
    top: 10%;
    left: 16%;
    width: 900px;
    display: none;
    position: fixed;
    background: rgb(255, 241, 241);
    z-index: 3;
  }
  
 
  
  .modal_img {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    
  }

  .modal-content {
    display: flex;
}

.modal-left {
    flex: 1;
    padding: 10px;
}

.modal-left img {
    width: 100%;
    border-radius: 5px;
}

.modal-right {
    flex: 2;
    padding: 10px;
    margin-left:80px;
}
  


  .comments-section {
    margin-top: 20px;
}



#commentList {
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    list-style: none;
}

.comment-item {
    margin-bottom: 10px;
}

#commentInput {
    width: 100%;
    margin-top: 10px;
}
  
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: black;
    font-size: 50px;
    cursor: pointer;
    z-index: 10;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
  }
  
  .close:hover {
    background-color: #ef9b0f; /* Change the color on hover if needed */
    color: black; /* Change the color on hover if needed */
  }
  
 
  
 
  
